<section>
    <h2 mat-dialog-title>{{ data.title }}</h2>
    <mat-dialog-content>
        <p *ngIf="data.content" class="layoutRow layoutAlignCenter">{{ data.content }}</p>
        <div class="layoutRow layoutAlignEvenly m10 p10">
          <button mat-raised-button mat-dialog-close color="warn">Retour</button>
          <button mat-raised-button color="primary" (click)="validate()">Oui</button>
        </div>
    </mat-dialog-content>
</section>
  