template {
    display: block;
  }
  
  header {
    // position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
  }
  
  .topBar {
    margin: 0%;
    width: 100%;
    height: 50px;
    padding: 5px 30px 0px 30px;
  }
  
  .toolBar {
    position: relative;
    height: 55px;
    border-radius: 20px 20px 0px 0px;
    margin-top: -40px;
    padding: 0px 30px 0px 30px;
    z-index: 3;
  }
  
  .iconNotification {
    fill: white;
    font-size: 35px;
    padding-bottom: 15px;
    cursor: pointer;
  }
  
  .mat-badge-content {
    margin-right: 4px !important;
  }
  
  .iconMenu {
    margin-top: 2px;
    fill: white;
    font-size: 44px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .menu {
    font-size: 14px;
    margin: 5px;
    margin-bottom: 0%;
    cursor: pointer;
  }
  
  mat-sidenav-container {
    position: relative;
    height: 100%;
    z-index: 1;
    padding-top: 110px;
  }
  
  mat-sidenav-content {
    min-height: calc(100vh - 110px);
  }
  
  .leftSidenav {
    background-color: var(--sidenavColor) !important;
    color: var(--sidenavColorText) !important;
    position: fixed;
    margin-top: 60px;
  }
  
  .leftSidenav ul {
    padding: 0%;
    margin-left: 20px;
  }
  
  .leftSidenav p {
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
  }
  
  .leftSidenav a {
    text-decoration: none;
    color:white;
    font-size: 17px;
  }
  
  .leftSidenav li {
    list-style: none;
    margin: 10px;
    cursor: pointer;
  }
  
  .rightSidenav {
    padding: 16px;
    background-color: #DFDFDF;
    color: black;
    position: fixed;
    margin-top: 60px;
  }
  
  .rightSidenav ul {
    padding: 0%;
  }
  
  a img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    filter: var(--iconColor);
  }
  
  a span {
    color: var(--sidenavColorText);
  }
  
  .notification {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 170px;
    box-shadow: 0px 1px 10px -5px black;
    font-size: 12px;
  }
  
  