//////////////
// flexBox  //
//////////////

.flexContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexColStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexSpace {
  flex: 1 1 auto;
}

.width100 {
  width: 100%;
}

.flex1 {
  flex: 1;
}

.layoutRow {
  display: flex !important;
  flex-flow: row wrap;
}

.layoutColumn {
  display: flex;
  flex-flow: column wrap;
}

.layoutAlignStart {
  justify-content: start;
}

.layoutAlignEnd {
  justify-content: end;
}

.layoutAlignBetween {
  justify-content: space-between;
}

.layoutAlignEvenly {
  justify-content: space-evenly;
}

.layoutAlignCenter {
  justify-content: center;
}

.contentAlignCenter {
  align-content: center;
}

.contentAlignStart {
  align-content: start;
}

.alignItemsCenter {
  align-items: center;
}

.alignItemsStart {
  align-items: flex-start;
}

.alignItemsEnd {
  align-items: flex-end;
}

.itemFlexBasisAuto {
  flex-basis: auto;
}

/////////////
// Theming //
/////////////

@import '~@angular/material/theming';
@include mat-core();

//Default (blue)
$blue-primary: mat-palette($mat-blue);
$blue-accent: mat-palette($mat-gray);
$blue-warn: mat-palette($mat-red);

$blue-theme: mat-light-theme(
    $blue-primary,
    $blue-accent,
    $blue-warn
  );
@include angular-material-color($blue-theme);

.blue-dark-theme {
  $blue-dark-theme: mat-dark-theme(
    $blue-primary,
    $blue-accent,
    $blue-warn
  );
  @include angular-material-color($blue-dark-theme);
}

//Black
$black-primary: mat-palette($mat-gray, 900);
$black-accent: mat-palette($mat-gray);
$black-warn: mat-palette($mat-red);

.black-theme {
  $black-theme: mat-light-theme(
    $black-primary,
    $black-accent,
    $black-warn
  );
  @include angular-material-color($black-theme);
}

.black-dark-theme {
  $black-theme: mat-dark-theme(
    $black-primary,
    $black-accent,
    $black-warn
  );
  @include angular-material-color($black-theme);
}

//Brown
$brown-primary: mat-palette($mat-brown);
$brown-accent: mat-palette($mat-gray);
$brown-warn: mat-palette($mat-red);

.brown-theme {
  $brown-theme: mat-light-theme(
    $brown-primary,
    $brown-accent,
    $brown-warn
  );
  @include angular-material-color($brown-theme);
}

.brown-dark-theme {
  $brown-dark-theme: mat-dark-theme(
    $brown-primary,
    $brown-accent,
    $brown-warn
  );
  @include angular-material-color($brown-dark-theme);
}

//Deep-purple
$deep-purple-primary: mat-palette($mat-deep-purple);
$deep-purple-accent: mat-palette($mat-gray);
$deep-purple-warn: mat-palette($mat-red);

.deep-purple-theme {
  $deep-purple-theme: mat-light-theme(
    $deep-purple-primary,
    $deep-purple-accent,
    $deep-purple-warn
  );
  @include angular-material-color($deep-purple-theme);
}

.deep-purple-dark-theme {
  $deep-purple-dark-theme: mat-dark-theme(
    $deep-purple-primary,
    $deep-purple-accent,
    $deep-purple-warn
  );
  @include angular-material-color($deep-purple-dark-theme);
}


//Green
$green-primary: mat-palette($mat-green);
$green-accent: mat-palette($mat-gray);
$green-warn: mat-palette($mat-red);

.green-theme {
  $green-theme: mat-light-theme(
    $green-primary,
    $green-accent,
    $green-warn
  );
  @include angular-material-color($green-theme);
}

.green-dark-theme {
  $green-dark-theme: mat-dark-theme(
    $green-primary,
    $green-accent,
    $green-warn
  );
  @include angular-material-color($green-dark-theme);
}

//Grey
$grey-primary: mat-palette($mat-grey);
$grey-accent: mat-palette($mat-gray);
$grey-warn: mat-palette($mat-red);

.grey-theme {
  $grey-theme: mat-light-theme(
    $grey-primary,
    $grey-accent,
    $grey-warn
  );
  @include angular-material-color($grey-theme);
}

.grey-dark-theme {
  $grey-dark-theme: mat-dark-theme(
    $grey-primary,
    $grey-accent,
    $grey-warn
  );
  @include angular-material-color($grey-dark-theme);
}

//Orange
$orange-primary: mat-palette($mat-orange);
$orange-accent: mat-palette($mat-gray);
$orange-warn: mat-palette($mat-red);

.orange-theme {
  $orange-theme: mat-light-theme(
    $orange-primary,
    $orange-accent,
    $orange-warn
  );
  @include angular-material-color($orange-theme);
}

.orange-dark-theme {
  $orange-dark-theme: mat-dark-theme(
    $orange-primary,
    $orange-accent,
    $orange-warn
  );
  @include angular-material-color($orange-dark-theme);
}



//Pink
$pink-primary: mat-palette($mat-pink, 200);
$pink-accent: mat-palette($mat-gray);
$pink-warn: mat-palette($mat-red);

.pink-theme {
  $pink-theme: mat-light-theme(
    $pink-primary,
    $pink-accent,
    $pink-warn
  );
  @include angular-material-color($pink-theme);
}

.pink-dark-theme {
  $pink-dark-theme: mat-dark-theme(
    $pink-primary,
    $pink-accent,
    $pink-warn
  );
  @include angular-material-color($pink-dark-theme);
}

//Purple
$purple-primary: mat-palette($mat-purple);
$purple-accent: mat-palette($mat-gray);
$purple-warn: mat-palette($mat-red);

.purple-theme {
  $purple-theme: mat-light-theme(
    $purple-primary,
    $purple-accent,
    $purple-warn
  );
  @include angular-material-color($purple-theme);
}

.purple-dark-theme {
  $purple-dark-theme: mat-dark-theme(
    $purple-primary,
    $purple-accent,
    $purple-warn
  );
  @include angular-material-color($purple-dark-theme);
}

//Red
$red-primary: mat-palette($mat-red);
$red-accent: mat-palette($mat-gray);
$red-warn: mat-palette($mat-red);

.red-theme {
  $red-theme: mat-light-theme(
    $red-primary,
    $red-accent,
    $red-warn
  );
  @include angular-material-color($red-theme);
}

.red-dark-theme {
  $red-dark-theme: mat-dark-theme(
    $red-primary,
    $red-accent,
    $red-warn
  );
  @include angular-material-color($red-dark-theme);
}


//Teal
$teal-primary: mat-palette($mat-teal);
$teal-accent: mat-palette($mat-gray);
$teal-warn: mat-palette($mat-red);

.teal-theme {
$teal-theme: mat-light-theme(
    $teal-primary,
    $teal-accent,
    $teal-warn
  );
  @include angular-material-color($teal-theme);
}

.teal-dark-theme {
  $teal-dark-theme: mat-dark-theme(
    $teal-primary,
    $teal-accent,
    $teal-warn
  );
  @include angular-material-color($teal-dark-theme);
}


//Yellow
  $yellow-primary: mat-palette($mat-yellow);
  $yellow-accent: mat-palette($mat-gray);
  $yellow-warn: mat-palette($mat-red);

.yellow-theme {
  $yellow-theme: mat-light-theme(
    $yellow-primary,
    $yellow-accent,
    $yellow-warn
  );
  @include angular-material-color($yellow-theme);
}

.yellow-dark-theme {
  $yellow-dark-theme: mat-dark-theme(
    $yellow-primary,
    $yellow-accent,
    $yellow-warn
  );
  @include angular-material-color($yellow-dark-theme);
}

//top, right, bottom, left
//::ng-deep

/////////////
// Generic //
/////////////

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color:#C9C9C9;
}

h1 {
  font-size: 20px;
  margin: 0%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

h2 {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

p, h1, h2, h3, h4 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.backgroundColorRed {
  background-color: red;
}

.backgroundColorPrimary {
  background-color: var(--primaryButtonColor);
  color: var(--primaryButtonColorText)
}

.backgroundColorGrey {
  background-color: #707070;
}

.bold {
  font-weight: bold;
}

.button {
  width: 100px;
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
  box-shadow: 2px 2px 10px -5px black;
  cursor: pointer;
}

.buttonGrey {
  background-color: #707070;
  color: white;
}

.buttonPrimary {
  background-color: var(--primaryButtonColor);
  color: var(--primaryButtonColorText);
}

.buttonRed {
  background-color: red !important;
  color: white !important;
}

.btnMenu {
  width: 90px;
  height: 30px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 4px 4px 10px -5px black;
}

.colorBlack {
  color: black;
}

.colorWhite {
  color: white;
}

form {
  padding: 10px;
}

.grab {
  cursor: grab;
}

.iconGrey {
  color: #707070;
}

.pointer {
  cursor: pointer ;
}

.textCenter {
  text-align: center;
}

// button pressed effect
.push:active {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0) !important;
  transform: translateY(4px);
}

//////////////////
//              //
//////////////////

.mat-badge-content{
  background : var(--BadgeColorBackground) !important;
  color: var(--badgeColor) !important;
  border: solid black 1px;
  margin-top: 12px;
  margin-right: 15px;
}

// .mat-progress-spinner circle, .mat-spinner circle {
//   stroke: white;
// }


.addProductButton {
  width: 60px;
  height: 25px;
  // background-color: var(--primaryButtonColor);
  // color: var(--primaryButtonColorText);
  font-size: 15px;
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
  box-shadow: 2px 2px 10px -5px black;
  cursor: pointer;
}

.addProductBox {
  width: 200px;
  height: 40px;
  margin: 10px;
  background-color: white;
  color: black;
  border-radius: 30px;
  box-shadow: 0px 1px 10px -5px black;
}

.backAndInfoButton {
  margin: 4px 20px 4px 20px !important;
}

.backButton {
  width: 30px !important;
  height: 30px !important;
  margin-left: 3px;
  margin-right: -3px;
}

.circleButton {
  border-radius: 50%;
  border: solid #707070 1px;
  box-shadow: 2px 2px 10px -5px black;
  cursor: pointer;
}

.createBox {
  padding: 5px 0% 5px 0%;
  width: 90px;
  height: 90px;
  box-shadow: 0px 1px 10px -5px black;
  border-radius: 20%;
  background-color: var(--primaryBackground);
  margin: 10px;
  cursor: pointer;
}

.createIcon {
  font-size: 50px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.currentPageName {
  position: fixed;
  top: 65px;
  background-color: var(--primaryBackground);
  // color: #707070;
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 40px;
  border-radius: 0px 0px 20px 20px;
  z-index: 999;
}

.editButtonZone {
  margin: 0px;
  border-radius: 50%;
  position: relative;
  border: solid #707070 1px;
  // background-color: #5485E6;
  box-shadow: 2px 2px 10px -5px black;
  cursor: pointer;
}

.editPictureButton {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.editPictureIcon {
  margin: 0px 5px 5px 0px;
  font-size: 30px;
  // color: white;
}

.iconSelectedProduct {
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.infoButton {
  width: 30px !important;
  height: 30px !important;
  margin-left: 4px;
  margin-right: -2px;
  // color: white;
}

.loadingPage {
  margin-top: 100px;
}

.loadingButton {
  margin:auto !important;
}

.mat-menu-content {
  border:1px solid var(--primaryColor);
  background:var(--secondaryBackground);
}

.maxWidthPrimarySectionText {
  max-width: 275px;
}

.overflowEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.paddingLeft0 {
  padding-left: 0% !important;
}

.padding0 {
  padding: 0% !important;
}

.picture {
  margin: 0px;
  width: 130px;
  height: 130px;
  position: relative;
  bottom: 65px;
  margin-bottom: -65px;
  box-shadow: 0px 1px 10px -5px black;
  border: solid #707070 1px;
}

.sectionPrimary {
  border: solid var(--primaryColor) 1px;
  border-radius: 10px;
  width: 300px;
  margin: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--secondaryBackground);
}

.slideToggle {
  margin: 0px 10px -40px 0px;
 }

.title {
  max-width: 210px;
}

///////////////////////
// Button toogle CSS //
///////////////////////

.mat-button-toggle-checked {
  background-color: var(--primaryButtonColor) !important;
  color: var(--primaryButtonColorText) !important;
}

mat-button-toggle-group {
  border-radius: 10px;
}

////////////////
// Dialog CSS //
////////////////

#camera {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.closeDialog {
  color: var(--primaryButtonColorText);
  padding: 4px;
  margin: 0px;
  margin-bottom: -25px;
  border-radius: 50%;
  position: relative;
  left: 40px;
  bottom: 40px;
  border: solid #707070 1px;
  background-color: var(--primaryButtonColor);
  box-shadow: 2px 2px 10px -5px black;
  cursor: pointer;
}

.cropperImage {
  padding: 0% !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cropperImage > div {
  margin-bottom: -6px;
}

.croppedImageProduct{
  border-radius: 15px;
  width: 100%;
  max-width:200px;
}

.croppedImageCategory{
  border-radius: 50%;
  width: 100%;
  max-width:200px;
}

.croppedImageAd{
  border-radius: 15px;
  width: 100%;
  max-width:200px;
}

.downloadPictureIcon {
  font-size: 30px;
}

.downloadPictureIconContainer {
  border-radius: 50%;
  border: solid #707070 1px;
  width: 50px;
  height: 50px;
  box-shadow: 3px 5px 10px -4px black;
}

.downloadPictureContainer {
  width: 75%;
  margin: 0% 0% 10px 15px;
}

#file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.mat-dialog-container {
  overflow: inherit !important;
  max-width: 500px;
  background-color: var(--primaryBackground);
}

.mat-vertical-content {
  padding:10px !important;
}

.subLabel {
  font-size: 10px;
  margin: 5px 0% 0% 0%;
}

///////////////////
// Drag and drop //
///////////////////

.dragAndDropBox {
  width: 200px;
  min-height: 40px;
  margin: 10px;
  border: solid 1px #ccc;
  border-radius: 30px;;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: grab;
  background-color: white;
  font-size: 14px;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.dragAndDropIcon {
  margin: 5px;
  color: #707070;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 30px;;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.4),
              0 8px 10px 1px rgba(0, 0, 0, 0.28),
              0 3px 14px 2px rgba(0, 0, 0, 0.24) !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// .mat-sort-header-arrow {
//   color: white;
// }
//////////////////
// SnackBar CSS //
//////////////////

.success-dialog .mat-simple-snackbar-action {
  color: green;
}

.error-dialog .mat-simple-snackbar-action {
  color: red;
}


/////////////////
/// Table CSS ///
/////////////////

.dateColumn {
  width: 90px !important;
}

@media (max-width: 644px) {
  .dateColumn {
    width: 50px !important;
  }
}

.iconTable {
  margin: 5px 5px 5px 0%;
  border-radius: 10px;
}

.td {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 10px;
}

// .th {
//   background-color: var(--thColor);
//   color: var(--thColorText) !important;
// }

.table {
  margin-bottom: 20px;
  width: 90%;
  max-width: 855px;
  min-width: 300px;
}

.topTable {
  width: 90%;
  max-width: 855px;
}

.optionsColumn {
  width: 35px;
  padding: 0% !important;
}

.smalColumn {
  width: 70px !important;
}

///////////////
/// Tooltip ///
///////////////

.amber {
  background-color: #ffc107 !important;
  color: black !important;
}

.black {
  background-color: black !important;
}

.blue {
  background-color: #2196f3 !important;
}

.blueGrey {
  background-color: #607d8b !important;
}

.brown {
  background-color: #795548 !important;
}

.cyan {
  background-color: #00bcd4 !important;
}

.deepOrange {
  background-color: #ff5722 !important;
}

.deepPurple {
  background-color: #673ab7 !important;
}

.green {
  background-color: #4caf50 !important;
  color: black !important;
}

.grey {
  background-color: #9e9e9e !important;
  color: black !important;
}

.indigo {
  background-color: #3f51b5 !important;
}

.lightBlue {
  background-color: #03a9f4 !important;
}

.lightGreen {
  background-color: #8bc34a !important;
  color: black !important;
}

.lime {
  background-color: #cddc39 !important;
  color: black !important;
}

.orange {
  background-color: #ff9800 !important;
}

.pink {
  background-color: #f48fb1 !important;
  color: black !important;
}

.purple {
  background-color: #9c27b0 !important;
}

.red {
  background-color: #f44336 !important;
}

.teal {
  background-color: #009688 !important;
}

.yellow {
  background-color: #ffeb3b !important;
  color: black !important;
}
