<article class="layoutColumn layoutAlignCenter contentAlignCenter alignItemsCenter">  
  
    <div class="layoutAlignBetween center" fxLayout="row" class="topTable">
      <mat-form-field>
        <mat-label>Recherche</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
        <div mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </div>
      </mat-form-field>

    </div>
  
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table" >
  
      <ng-container matColumnDef="imageUrl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th"> image </th>
        <td mat-cell *matCellDef="let element" class="td">
          <img class="iconTable" src="{{element.imageUrl}}">
        </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="nameCol th"> nom </th>
        <td mat-cell *matCellDef="let element" class="td"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="afficher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class=" th"> </th>
        <td mat-cell *matCellDef="let element" class="td"> 
          <button mat-raised-button color="primary" (click)="openDial(element)">Afficher</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </article>
  