:root {

  --primaryColor: black;

  --primaryTextColor: black;

  --primaryBackground: white;
  --secondaryBackground: #e0e0e0;

  --primaryButtonColor: black;
  --primaryButtonColorText: white;

  --thColor: black;
  --thColorText: white;

  --sidenavColor: black;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 0px 0px 10px 0.1px black;

}
