:root {

  --primaryColor: #2196f3;

  --primaryTextColor: black;

  --primaryBackground: white;
  --secondaryBackground: #e3f2fd;

  --primaryButtonColor: #2196f3;
  --primaryButtonColorText: white;

  --thColor: #2196f3;
  --thColorText: white;

  --sidenavColor: #1976d2;
  --sidenavColorText: white !important;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 5px 5px 10px -5px #707070;

}

