:root {

  --primaryColor: #2196f3;

  --primaryTextColor: white;

  --primaryBackground: #424242;
  --secondaryBackground: #424242;

  --primaryButtonColor: #2196f3;
  --primaryButtonColorText: white;

  --thColor: #2196f3;
  --thColorText: white;

  --sidenavColor: #1976d2;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 0px 0px 10px 0.1px #2196f3;

}