:root {

  --primaryColor: #795548;

  --primaryTextColor: white;

  --primaryBackground: #424242;
  --secondaryBackground: #424242;

  --primaryButtonColor: #795548;
  --primaryButtonColorText: white;

  --thColor: #795548;
  --thColorText: white;

  --sidenavColor: #5d4037 ;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 0px 0px 10px 0.1px  #795548;

}