:root {

  --primaryColor: #673ab7;

  --primaryTextColor: black;

  --primaryBackground: white;
  --secondaryBackground: #ede7f6;

  --primaryButtonColor: #673ab7;
  --primaryButtonColorText: white;

  --thColor: #673ab7;
  --thColorText: white;

  --sidenavColor: #512da8 ;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 5px 5px 10px -5px #707070;

}