:root {

  --primaryColor: #4caf50;

  --primaryTextColor: white;

  --primaryBackground: #424242;
  --secondaryBackground: #424242;

  --primaryButtonColor: #4caf50;
  --primaryButtonColorText: black;

  --thColor: #4caf50;
  --thColorText: black;

  --sidenavColor: #388e3c ;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 0px 0px 10px 0.1px #4caf50;

}