:root {

  --primaryColor: #9e9e9e;

  --primaryTextColor: white;
  
  --primaryBackground: #424242;
  --secondaryBackground: #424242;

  --primaryButtonColor: #9e9e9e;
  --primaryButtonColorText: black;

  --thColor: #9e9e9e;
  --thColorText: black;

  --sidenavColor: #616161 ;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 0px 0px 10px 0.1px #9e9e9e;

}