:root {

  --primaryColor: #9e9e9e;

  --primaryTextColor: black;
  
  --primaryBackground: white;
  --secondaryBackground: #eeeeee;

  --primaryButtonColor: #9e9e9e;
  --primaryButtonColorText: black;

  --thColor: #9e9e9e;
  --thColorText: black;

  --sidenavColor: #616161 ;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 5px 5px 10px -5px #707070;

}