:root {

  --primaryColor: #ff9800;

  --primaryTextColor: black;

  --primaryBackground: white;
  --secondaryBackground: #fff3e0;

  --primaryButtonColor: #ff9800;
  --primaryButtonColorText: black;

  --thColor: #ff9800;
  --thColorText: black;

  --sidenavColor: #f57c00 ;
  --sidenavColorText: black;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //black
  --iconColor: invert(0%) sepia(0%) saturate(7455%) hue-rotate(290deg) brightness(99%) contrast(100%);

  --box-shadow: 5px 5px 10px -5px #707070;

}