:root {

  --primaryColor: #f48fb1;

  --primaryTextColor: white;

  --primaryBackground: #424242;
  --secondaryBackground: #424242;

  --primaryButtonColor: #f48fb1;
  --primaryButtonColorText: black;

  --thColor: #f48fb1;
  --thColorText: black;

  --sidenavColor: #f06292;
  --sidenavColorText: black;

  --badgeColor: white;
  --BadgeColorBackground: red;
  
  //black
  --iconColor: invert(0%) sepia(0%) saturate(7455%) hue-rotate(290deg) brightness(99%) contrast(100%);

  --box-shadow: 0px 0px 10px 0.1px #f48fb1;

}