:root {

  --primaryColor: #f48fb1;

  --primaryTextColor: black;

  --primaryBackground: white;
  --secondaryBackground: #ffe0f2;

  --primaryButtonColor: #f48fb1;
  --primaryButtonColorText: black;

  --thColor: #f48fb1;
  --thColorText: black;

  --sidenavColor: #f06292;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;
  
  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 5px 5px 10px -5px #707070;
}