:root {

  --primaryColor: #9c27b0;

  --primaryTextColor: black;

  --primaryBackground: white;
  --secondaryBackground: #f3e5f5;

  --primaryButtonColor: #9c27b0;
  --primaryButtonColorText: white;

  --thColor: #9c27b0;
  --thColorText: white;

  --sidenavColor: #7b1fa2 ;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 5px 5px 10px -5px #707070;

}