:root {

  --primaryColor: #9c27b0;

  --primaryTextColor: white;

  --primaryBackground: #424242;
  --secondaryBackground: #424242;

  --primaryButtonColor: #9c27b0;
  --primaryButtonColorText: white;

  --thColor: #9c27b0;
  --thColorText: white;

  --sidenavColor: #7b1fa2 ;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 0px 0px 10px 0.1px #9c27b0;

}