:root {
  
  --primaryColor: #f44336;

  --primaryTextColor: white;

  --primaryBackground: white;
  --secondaryBackground: #ffc6c6;

  --primaryButtonColor: #f44336;
  --primaryButtonColorText: white;

  --thColor: #f44336;
  --thColorText: white;

  --sidenavColor: #a90c00;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 5px 5px 10px -5px #707070;
}