:root {

  --primaryColor: #f44336;

  --primaryTextColor: white;

  --primaryBackground: #424242;
  --secondaryBackground: #424242;

  --primaryButtonColor: #f44336;
  --primaryButtonColorText: white;

  --thColor: #f44336;
  --thColorText: white;

  --sidenavColor: #a90c00;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 0px 0px 10px 0.1px #f44336;

}