:root {

  --primaryColor: #009688;

  --primaryTextColor: black;
  
  --primaryBackground: white;
  --secondaryBackground: #e0f2f1;

  --primaryButtonColor: #009688;
  --primaryButtonColorText: white;

  --thColor: #009688;
  --thColorText: white;

  --sidenavColor: #00796b ;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 5px 5px 10px -5px #707070;

}