:root {

  --primaryColor: #009688;

  --primaryTextColor: white;
  
  --primaryBackground: #424242;
  --secondaryBackground: #424242;

  --primaryButtonColor: #009688;
  --primaryButtonColorText: white;

  --thColor: #009688;
  --thColorText: white;

  --sidenavColor: #00796b ;
  --sidenavColorText: white;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //white
  --iconColor: invert(99%) sepia(0%) saturate(5%) hue-rotate(243deg) brightness(105%) contrast(100%);

  --box-shadow: 0px 0px 10px 0.1px #009688;

}