:root {

  --primaryColor: #ffeb3b;

  --primaryTextColor: black;

  --primaryBackground: white;
  --secondaryBackground: #fffde7;

  --primaryButtonColor: #ffeb3b;
  --primaryButtonColorText: black;

  --thColor: #ffeb3b;
  --thColorText: black;

  --sidenavColor: #fdd835 ;
  --sidenavColorText: black;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //black
  --iconColor: invert(0%) sepia(0%) saturate(7455%) hue-rotate(290deg) brightness(99%) contrast(100%);

  --box-shadow: 5px 5px 10px -5px #707070;

}