:root {

  --primaryColor: #ffeb3b;

  --primaryTextColor: white;

  --primaryBackground: #424242;
  --secondaryBackground: #424242;

  --primaryButtonColor: #ffeb3b;
  --primaryButtonColorText: black;

  --thColor: #ffeb3b;
  --thColorText: black;

  --sidenavColor: #fdd835 ;
  --sidenavColorText: black;

  --badgeColor: white;
  --BadgeColorBackground: red;

  //black
  --iconColor: invert(0%) sepia(0%) saturate(7455%) hue-rotate(290deg) brightness(99%) contrast(100%);

  --box-shadow: 0px 0px 10px 0.1px #ffeb3b;

}