<section>
    <img src="{{ photoUrl }}">
    <div>nom du produit : {{ name }}</div>
    <div>nombre de pages correspondantes: {{ pages }}</div> <!-- une value bind dans le component .ts -->
    <div>visi-score total: {{ visiScore }} </div><!-- une value bind dans le component .ts -->

    <div>
        <!--
            ng for scanner tout les concurant 
        -->
    </div>
</section>
  